<section class="signup-page">

    <div class="wrapper">
        <div class="header header-filter" style="background-image: url('http://s20.postimg.org/mk1lpi1jx/photo_1462907715766_a2863567b2a4.jpg'); background-size: cover; background-position: top center;">
            <div class="container">

              <div class="row">
                  <div class="col-md-4  col-sm-6">
                      <div class="card card-signup">
                          <form class="form" method="" action="">
                              <div class="header header-primary text-center">
                                  <h4 class="animated FadeIn">For People</h4>
                                  <p>Deals are sweet.</p>
                              </div>

                              <div class="content">

                                <p>Browse your favorite stores and restaurants and get hooked up with them with a simple click of a button. Then receive text messages whenever they have a sweet deal or special event taking off, while still maintaining privacy; Businesses will never see your phone number. You'll be up to date on the hip happenings.</p>
                                <!-- <p>*trextr is currently an MVP in progress.*</p> -->


                              </div>
                              <div class="footer text-center">
                                  <a class="btn btn-primary btn-wd btn-lg">Start Now</a>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>

                <div class="row">
                    <div class="col-md-4  col-sm-6">
                        <div class="card card-signup">
                            <form class="form" method="" action="">
                                <div class="header header-primary text-center">
                                    <h4>For Businesses</h4>
                                    <p>Communication is key.</p>
                                </div>

                                <div class="content">

                                  <p>Trextr provides a way to communicate more effectively and efficiently to your valued consumers via SMS text message. You'll be able to get the word out faster than ever about hot new deals and special events. Nobody reads emails, but everyone will look at a text message.</p>
                                  <!-- <p>*trextr is currently an MVP in progress.*</p> -->


                                </div>
                                <div class="footer text-center">
                                    <a ui-sref="register" class="btn btn-primary btn-wd btn-lg">Start Now</a>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>



            </div>

            <!-- <div class="container">
                <div class="row">
                    <div class="col-md-4  col-sm-6">
                        <div class="card card-signup">
                            <form class="form" method="" action="">
                                <div class="header header-primary text-center">
                                    <h4>For People</h4>
                                    <p>Deals are sweet.</p>
                                </div>

                                <div class="content">

                                  <p>Browse your favorite stores and restaurants and get hooked up with them with a simple click of a button. Then receive text messages whenever they have a sweet deal or special event taking off, while still maintaining privacy; Businesses will never see your phone number. You'll be up to date on the hip happenings. </p>


                                </div>
                                <div class="footer text-center">
                                    <a ui-sref="register" class="btn btn-primary btn-wd btn-lg">Start Now</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div> -->

            <footer class="footer">
                <div class="container">
                    <div class="copyright pull-center">
                        &copy; 2016 trextr
                    </div>
                </div>
            </footer>

        </div>

    </div>
</section>
