
<section class="profile-page">

    <div class="wrapper">
        <div class="header header-filter" style="background-image: url('http://s20.postimg.org/u5h142lwd/city_Background.jpg');"></div>

        <div class="main main-raised">
            <div class="profile-content">
                <div class="container">
                    <div class="row">
                        <div class="profile">
                            <div class="avatar">
                                <img src="http://s20.postimg.org/f4f766k4d/trextr_icon.png" alt="Circle Image" class="img-circle img-responsive img-raised">
                            </div>
                            <div class="name">
                                <h3 class="title">{{businessUser.companyName}}</h3>
                                <h6>Category</h6>
                            </div>
                        </div>
                    </div>
                    <div class="description text-center">
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <!-- <div class="profile-tabs"> -->
                            <div class="nav-align-center">
                                <!-- <ul class="nav nav-pills" role="tablist">
                                        <li class="active">
                                            <a href="#studio" role="tab" data-toggle="tab">
                                                <i class="material-icons">camera</i> Studio
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#work" role="tab" data-toggle="tab">
                                                <i class="material-icons">palette</i> Work
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#shows" role="tab" data-toggle="tab">
                                                <i class="material-icons">favorite</i> Favorite
                                            </a>
                                        </li>
                                    </ul> -->

                                <div class="deal-poster">
                                    <h5>Post a New Deal/Event</h5>

                                    <div class="input-group">
                                        <span class="input-group-addon">
                                        <i class="material-icons">whatshot</i>
                                      </span>
                                        <div class="form-group">
                                            <input type="text" ng-model="newDeal.title" class="form-control" placeholder="Name of deal/event...">
                                        </div>
                                    </div>

                                    <div class="input-group">
                                        <span class="input-group-addon">
                                        <i class="material-icons">place</i>
                                      </span>
                                        <div class="form-group">
                                            <input type="text" ng-model="newDeal.location" class="form-control" placeholder="Location...">
                                        </div>
                                    </div>

                                    <div class="input-group">
                                        <span class="input-group-addon">
                                        <i class="material-icons">description</i>
                                      </span>
                                        <div class="form-group">
                                            <textarea class="form-control" row="3" ng-model="newDeal.description" class="form-control" placeholder="Brief description..."></textarea>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group">
                                            <label>Start:</label>
                                            <input class="datepicker form-control" type="text" ng-model="newDeal.startDay">
                                        </div>

                                        <div class="form-group">
                                            <label>End:</label>
                                            <input class="datepicker form-control" type="text" ng-model="newDeal.endDay">
                                        </div>
                                    </div>

                                    <button class="btn btn-raised btn-danger btn-lg" ng-click="postNewDeal(newDeal)">Post</button>

                                </div>

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript">

  $(document).ready(function () {
    $("#text_button").click(function () {
      $("#message").val("");
    });

  });


</script> -->


                                <div class="message-sender form-group">
                                    <h5>Text your FWBS:<h5>
                                      <input type="text" id="number" class="form-control" ng-model="number" placeholder="Phone Number">
                                    <textarea id="message" class="message-input-box form-control" rows="2" ng-model="message" placeholder="message..." ></textarea>
                                    <button class="send-message-button btn btn-raised btn-danger" type="submit" ng-click="sendText(message, number)" id="text_button">Send Text</button>
                                  </div>

                                  <div class="logout-button text-center">
                                    <a class="btn" ng-click="logout()">Log out</a>
                                  </div>

                                </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <footer class="footer">
        <div class="container">
            <div class="copyright pull-center">
                &copy; 2016 trextr
            </div>
        </div>
    </footer>


</section>
