<section class="landing-page">
    <!-- <nav class="navbar navbar-transparent navbar-absolute">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="home">trextr</a>
            </div>

            <div class="collapse navbar-collapse" id="navigation-example">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a ui-sref="about" class="btn" target="_blank">
                          about
                        </a>
                    </li>
                    <li>
                        <a ui-sref="login" class="btn" target="_blank">
                          log in
                        </a>
                        <li>
            </div>
        </div>
    </nav> -->

    <div class="wrapper">
        <div class="header header-filter" style="background-image:url('http://s20.postimg.org/jsqlnmjx9/iphonebackground.jpg');">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="title">Consumer to Business Matchmaking</h2>
                        <h4>Get hooked up with your favorite deals through simple text message.</h4>
                        <br/>
                        <a ui-sref="about" class="btn btn-info btn-raised btn-lg" id="learn-more-button">learn more</a>
                        <a ui-sref="register" class="btn btn-primary btn-raised btn-lg" id="register-button">get started now</a>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="container">
                <div class="copyright pull-center">
                    &copy; 2016 trextr
                </div>
            </div>
        </footer>

    </div>
</section>
<!-- <div class="home-motto">
        <h1 class="title-uppercase">Consumer</h1>
        <h1 class="title-uppercase">2</h1>
        <h1 class="title-uppercase">Business</h1>
        <h1 class="title-uppercase">Matchmaking</h1>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <button ui-sref="about" class="btn btn-fill btn-info" id="learn-more-button">Learn More</button>

            <button ui-sref="register" class="btn btn-fill btn-danger" id="register-button">Get Started</button>
        </div>

    </div>

    <input class="message-input-box" type="text" ng-model="message" placeholder="message..."></input>
    <button class="send-message-button" type="submit" ng-click="sendText(message)">Send Text</button>
</section> -->
