<section class="signup-page">

    <div class="wrapper">
        <div class="header header-filter" style="background-image: url('http://s20.postimg.org/83ecaxc2l/photo_1451968362585_6f6b322071c7.jpg'); background-size: cover; background-position: top center;">
            <div class="container">
                <div class="row">
                    <div class="col-md-4  col-sm-6">
                        <div class="card card-signup">
                            <form class="form" method="" action="">
                              <div class="header header-primary text-center">
                                <h4>Welcome<i class="material-icons">favorite</i></h4>
                              </div>
                                <div class="content">

                                    <div class="input-group">
                                        <span class="input-group-addon">
                                          <i class="material-icons">email</i>
                                        </span>
                                        <div class="form-group">
                                            <input type="text" ng-model="credentials.email" class="form-control" placeholder="Email...">
                                        </div>
                                    </div>

                                    <div class="input-group">
                                        <span class="input-group-addon">
                                          <i class="material-icons">lock_outline</i>
                                        </span>
                                        <div class="form-group">
                                            <input type="password" ng-model="credentials.password" placeholder="Password..." class="form-control" />
                                        </div>
                                    </div>

                                    <!-- If you want to add a checkbox to this form, uncomment this code

              <div class="checkbox">
                <label>
                  <input type="checkbox" name="optionsCheckboxes" checked>
                  Subscribe to newsletter
                </label>
              </div> -->
                                </div>
                                <div class="footer text-center">

                                    <a ng-click="login()" class="btn btn-primary btn-wd btn-lg">Log in</a><br/>
                                    <a ui-sref="register" class="btn btn-primary btn-wd btn-sm">Or register</a><br/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <footer class="footer">
                <div class="container">
                    <div class="copyright pull-center">
                        &copy; 2016 trextr
                    </div>
                </div>
            </footer>

        </div>

    </div>
</section>
