/*#3bd887*/
/*font-family: 'Lobster Two', cursive;
font-family: 'Imprima', sans-serif;*/


html, body, section, button, h1, h2, h3, a {
  font-family: 'Imprima', sans-serif;
  margin: 0;
}


/*HEADER*/

.navbar-brand {
  font-family: 'Lobster Two', cursive;
}

/*HOME*/
.landing-page {
  width: 100%;
  min-width: 200px;
  text-align: center;
}

/*.header {
  height: 500px;
  width: 100%;
  margin: 0;
}*/

.row, .col-sm-4 {
  display: flex;
  justify-content: space-between;
}

.row {
  color: white;
}

.row .col-md-6 h2, h4 {
  color: white;
  font-family: 'Lobster Two', cursive;
}

.row .col-md-6 h4 {
  font-family: 'Lobster Two', cursive;
}

/*REGISTER PAGE*/

.signup-page .footer a {
  font-family: 'Imprima', sans-serif;
}

/*ABOUT PAGE*/

p {
  text-align: center;
}

.copyright {
  text-align: center;
}
/*FOOTER*/

.footer a {
  font-family: 'Lobster Two', cursive;
  text-align: center;
}

.copyright {
  font-family: 'Lobster Two', cursive;
}
